.container__menu-title {
  padding: 30px 0;
  text-align: center;
  border-bottom: 6px double #333344;
}

.container__menu-title > h1 {
  margin-top: 15px;
  font-size: 38px;
  font-family: 'Press Start 2P', cursive;
  color: #ff007f;
  text-shadow: 4px 4px 0px #00ffcc;
  letter-spacing: -2px;
}

.container__menu-title > hr {
  display: none;
}

.container__menu-title > small {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  color: #00ffcc;
  text-transform: uppercase;
}
