<div class="container__content">
  <div class="content__cover">
    <img src="{{ photoCover }}" alt="" srcset="">
  </div>
  <div class="content__title">
    <h1>{{ contentTitle }}</h1>
    <hr />
  </div>
  <div class="content__description">
    <p>
      {{contentDescription}}
    </p>
    <p>
      {{contentDescription02}}
    </p>
    <div class="content__actions">
      <a [href]="link" target="_blank" class="instagram-btn">
        <span class="instagram-icon">📸</span> VEJA NO INSTAGRAM
      </a>
      <a [routerLink]="['']" class="back-btn"><< VOLTAR</a>
    </div>
  </div>
</div>
